body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../../../public/WATER.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.kudos_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.kudos_form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.kudos_form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.text_area {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.submit_button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.submit_button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .kudos_form {
    padding: 15px;
  }

  .submit_button {
    font-size: 16px;
    padding: 8px;
  }
}
