.main_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-height: 100vh;
  width: 50%; /* Increased width of the container */
  overflow-y: auto;
  text-align: center;
}

.kudo_card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  min-height: 120px;
  width: 90%; /* Make card take up 100% of its parent width */
}

.kudo_text {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.kudo_message {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.like_section {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 24px;
  color: #ff5252;
}

.like_icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .main_section {
    padding: 10px;
    width: 80%; /* Adjust width for medium screens */
  }

  .kudo_card {
    padding: 15px;
    min-height: 100px;
  }

  .kudo_text {
    font-size: 14px;
  }

  .kudo_message {
    font-size: 12px;
  }

  .like_section {
    font-size: 20px;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .main_section {
    padding: 5px;
    width: 95%; /* Adjust width for smaller screens */
  }

  .kudo_card {
    padding: 10px;
    min-height: 90px;
  }

  .kudo_text {
    font-size: 12px;
  }

  .kudo_message {
    font-size: 10px;
  }

  .like_section {
    font-size: 18px;
    bottom: 5px;
    right: 5px;
  }
}
